* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 auto;
}
@font-face {
    font-family: mehr;
    src: url(../font/IRMehr.ttf);
}
@font-face {
    font-family: ramin;
    src: url(../font/NPIRamin.ttf);
}
@font-face {
    font-family: homa;
    src: url(../font/IRHoma.ttf);
}

::-webkit-scrollbar {
    background-color:#0de9da;
    box-shadow: inset 0px -1px 13px #0275af;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    box-shadow: inset 0px -1px 13px #0205af;
    border-radius: 10px;
}

body{
    padding: 2vw;
}
h1{
    font-family: mehr;
    width: 100%;
    font-size: 6vmin;
    text-align: center;
}
h1{
    font-family: mehr;
    width: 100%;
    font-size: 7vmin;
    text-align: center;
    color: white;
}
h2{
    font-family: mehr;
    width: 100%;
    font-size: 5vmin;
    text-align: center;
    color: rgb(248, 255, 195);
}
h3{
    font-family: mehr;
    width: 100%;
    font-size: 3vmin;
    text-align: center;
    color: white;
}
section{
    width: 50vw;
    margin: 10vh 24vw;
    background-color: #ffffff8d;
    border: 0.5vw groove #adffdd;
    border-radius: 2vmin;
    padding: 3vmin 0;
}
section h2{
    color: rgb(29, 33, 1);
}
section h3, section h1{
    color: rgb(53, 59, 7);
}
a{
    color: #4b0303;
}
.en{
    font-family: ramin;
}
.em{
    font-family: homa;
}
i{
    font-style: normal;
}
img {
    width: 46vw;
    margin: 1.5vw;
}