@font-face {
  font-family: digital;
  src: url(Tanha.woff);
}
@font-face {
    font-family: shabnam;
    src: url(NPIShabnam.ttf);
  }
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 25px;
    line-height: 1.5;
}
body {
	color: DimGray;
    text-align: center;
}
p,h1,h2,h3,h4,h5 {
    margin-top: .5em;
    margin-bottom: .25em; 
}
p { font-size: 1em; }
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }
main {
    display: inline-grid;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1vmin;
    margin: auto;
    padding: 1vmin;
	width: 83vmin;
    height: 100vmin;
	background-color: rgb(242, 177, 255);
    border: 2px solid rgb(153, 0, 191), 0, 0;
    border-radius: 4px;
    box-shadow: 0 0 4em 0 DimGray inset;
    font-size: 2rem;
}
input , button{
    padding: .5em;
    text-align: center;
    background: rgb(192, 140, 240);
    color: rgb(14, 0, 140);
	border: rgb(14, 0, 140) solid 2px;
	border-radius: 4px;
    font-size: 1em;
    font-weight: bold;
	transition: all .5s;
    height: 40vmin;
    width: 40vmin;
}
input:hover , button:hover{
	color: rgb(255, 255, 255);
	box-shadow: 0 0 2em 0 rgb(111, 30, 30) inset;
}
input {
    font-family: shabnam;
}
#out ,button{
    text-align: center;
    grid-column: 1 / -1;
    font-family: digital;
    font-size: 0.75em;
    width: 81vmin;
    height: 20vmin;
}
#out {
    font-family: shabnam;
}
section {
    text-align: center;
    width: 82vmin;
    grid-column: 1 / -1;
    height: 9vmin;
    display: flex;
    justify-content: space-evenly;
    padding-left: 2vmin;
    align-items: center;
}
#ran {
    width: 50vmin;
    height: 9vmin;
    display: inline-block;
}
p {
    text-align: center;
    width: 40vmin;
    display: inline-block;
    font-family: digital;
    font-size: 30px;
    height: 30px;
    margin: 0;
    color: #560069;
}
img {
    width: 9vmin;
    height: 9vmin;
}
.ti {
    text-align: center;
    grid-column: 1 / -1;
    width: 80vmin;
}
main input{
    height: 15vmin;
}
.nobg input {
    width: 15vmin;
}
.nobg {
    display: grid;
    text-align: center;
    grid-column: 1 / -1;
    grid-template-rows: repeat(1, auto);
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1vmin;
    margin: auto;
    padding: 1vmin;
	background-color: rgba(0, 0, 0, 0);
    border: 2px solid rgba(0, 0, 0, 0), 0, 0;
    box-shadow: 0 0 4em 0 rgba(0, 0, 0, 0) inset;
    font-size: 2rem;
    height: 15vmin;
}
img {
    width: 15vmin;
    height: 15vmin;
    position: fixed;
}
#DB {
    top: 2.5vmin;
    left: 2.5vmin;
}
#lo {
    top: 2.5vmin;
    left: calc(100vw - 17.5vmin);
}