* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: lale;
    src: url(../font/Lalezar-Regular.woff);
}
@font-face {
    font-family: tanha;
    src: url(../font/Tanha.woff);
}
body {
    padding: 10px;
}
h1 {
    display: block;
    margin: 20px auto;
    text-align: center;
    font-family: lale;
    font-size: 40px;
    color: #e7e0ff;
}
h2{
    text-align: center;
    margin: 10px auto;
    font-family: tanha;
    font-size: 20px;
    color: #f9f7ff;
    font-weight: bold;
}
p {
    font-family: tanha;
    font-size: 20px;
    color: #f9f7ff;
    font-weight: bold;
}
img {
    display: block;
    width: 40vw;
    margin: 15px auto;
    border-radius: 20px;
    border: 5px groove #b300ff;
}